//Colores
$color-verde: #00FF80;
$color-negro: rgb(0, 0, 0);
$color-rojo-oferta: rgb(255, 0, 0);
$color-rojo-btn: #dc3545;
$color-rojo-btn-hover: #bb2d3b;
$color-verde-precio: #28a745;
$color-azul1: #6a11cb;
$color-azul2: #2575fc;
$color-sombra-azul: rgba(0, 30, 255, 0.5);
$color-gris-dark: #303030;
$color-gris-link: #545454;

//Tamaños
$logo-ancho: 15rem;
$ancho-imagen: 512px;
$item-width: 250px;
$padding-btn: 10px 20px;
$radius-default: 4px;
$sombra-default: 0 2px 8px rgba(0, 0, 0, 0.1);
$gap-navbar: 30px;

//Fuente pricipal
$fuente-principal: 'Poppins', sans-serif;