@use '../utilities/variables';

/* Main cursos */

.card img {
  border-radius: 5px;
}

.btn-watch {
  background-color: variables.$color-rojo-btn;
  color: rgb(255, 255, 255);
}

.btn-watch:hover {
  background-color: variables.$color-rojo-btn-hover;
}