@use '../utilities/variables';

/* Footer */


.footer {
  padding: 100px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.link h3 {
  font-size: 20px;
  color: variables.$color-gris-dark;
  margin-bottom: 20px;
}

.socials img {
  margin-right: 15px;
}

.link ul li a {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  color: variables.$color-gris-link;
}

.link ul {
  list-style: none;
  padding: 0;
}